/* Callendar style  */

.calendar__section, .form__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}

.calendar__header, .form__header {
   font-size: 30px;
   font-weight: 600;
   border-bottom: 1px solid grey;
   margin-bottom: 20px;
}

/* CallendarList style */

.calendar__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calendar__box{
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    min-width: 250px;
}

/* CallendarForm style */

.form__container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.form__label{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    border:0.5px solid black;
    height: 25px;
    margin: 2px 0px;
    min-width:200px;
}

.form__button {
    margin: 4px 0px;
    min-height: 34px;
    width: auto;
    background-color: rgb(209, 93, 93);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    border: none;
    text-transform: uppercase;
}

.form__button:hover {
    background-color: rgb(109, 151, 93);
    color: white;
}

.form__errors {
    color: red;
    font-size: 14px;
}
